Source: txprinter
Maintainer: Michael Mattice <mattice@debian.org>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-txprinter
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Basic network printer operations for twisted

